/* 導覽列搜尋欄 */
.search_p::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}

@media (max-width: 576px) {
    /* 輪播文字說明在小畫面調整 */
    .carousel-caption {
        padding: 1rem !important;
        border-radius: 0.75rem !important;
        max-width: 95vw !important;
    }

    /* 登入/註冊框在小畫面置中 */
    .modal-dialog {
        margin: 1.75rem auto;
    }

    .modal-content {
        border-radius: 1.5rem;
    }
}